<li>
  <%= link_to region.name, region %> -
  <% if current_user.admin? %>
    <%= link_to "Edit", edit_region_path(region) %> -
    <%= button_to "Delete", region, method: :delete %>
  <% end %>
</li>
