<h2>Regions</h2>

<%= link_to "Create a new region", new_region_path %>

<ul>
  <% @regions.each do |region| %>
    <li><%= link_to region.name, region_path(region) %> - <%= link_to "Edit", edit_region_path(region) %> - 
      <%= link_to "Delete", region_path(region), method: :delete %></li>
  <% end %>
</ul>
