<h2>Regions</h2>

<% if current_user.admin? %>
  <%= link_to "Create a new region", new_region_path %>
<% end %>

<div>
  <ul>
    <% @regions.each do |region| %>
      <li>
        <%= link_to region.name, region_path(region) %>
        <% if current_user.admin? %>
          - <%= link_to "Edit", edit_region_path(region) %>
          <%= button_to "Delete", region_path(region), method: :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
