<h2><%= @region.name %> Categories</h2>

<% if current_user.admin? %>
  <%= link_to "Create a new category", new_region_category_path(@region) %>
<% end %>

<ul>
  <%= render @categories, region: @region %>
</ul>
